<script>
 import page from 'page'
 import Index from './Index.svelte'
 import RISUtils from './RISUtils'
 import RIS from './RIS.svelte'
 import SessionIndex from './SessionIndex.svelte'
 import Session from './Session.svelte'
 import Experiment from './Experiment.svelte'
 import Query from './Query.svelte'

 let component
 let params
 let risName='bsbm-1m-glav-het'
 // routes

 page.base(BASE)
 page('/index.html', () => component = Index)
 page('/', () => component = Index)
 
 page('/ris/:name/index.html', (ctx, next) => {
     params = ctx.params
     component = RIS
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)
     next()
 })

 page('/ris/:name/sessions/index.html', (ctx, next) => {
     params = ctx.params
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)
     component = SessionIndex
     next()
 })

 page('/ris/:name/experiment/index.html', (ctx, next) => {
     params = ctx.params
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)
     component = Experiment
     next()
 })

 page('/ris/:name/sessions/:session/index.html', (ctx, next) => {
     params = ctx.params
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)
     component = Session
     next()
 })

 page('/ris/:name/sessions/:session/queries/:query/index.html', (ctx, next) => {
     params = ctx.params
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)
     component = Query
     next()
 })

 page('/ris/:name/sessions/:session/(MAPPING_SAT|ONTO_MAP_ADDING)/index.html', (ctx, next) => {
     params = ctx.params
     const transformationName = params[0]
     params.transformedRisURL = RISUtils.getTransformatedRISURL(params.name, params.session, transformationName)
     params.originalRisURL = RISUtils.getExampleRISURL(params.name)

     component = RIS
     next()
 })

 page.start()

 window.addEventListener('popstate', e => e.preventDefault())
 
 function setRisName(e) {
     risName = e.detail
 }

 function closeRis() {
     risName = null
 }
 
</script>

<svelte:component this={component} params={params} />

<style>
 body, html {
     width: 100vh;
     height: 100vh;
 }
 
 body {
     font-family: helvetica;
     font-size: 14px;
 }

 h1 {
     opacity: 0.5;
     font-size: 1em;
 }
</style>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/solarized-light.min.css">
