<script>
 export let url = null
 export let string = null
 export let name
 
 import CQ from './CQ'
 import CQViz from './CQViz.svelte'
 import { onMount, afterUpdate } from 'svelte'

 const cqPromise = (url) ? CQ.createFromURL(url) : new Promise((resolve, reject) => resolve(CQ.createFromString(string)))
</script>

{#await cqPromise then cq}
    <div class="cq">
        <div class="head">
            {name}({#each cq.getHead() as term}<span class="term">{term}</span>{/each}) &lt;--
        </div>
        <div id="{name}" class="cy body"></div>
        <div class="viz">
            <CQViz cq="{cq}"/>
        </div>
    </div>
{/await}

<style>
 .cq {
     border: 1px black solid;
     height: 100%;
 }
 
 .cq .viz {
     display: flex;
     width: 100%;
     height: 95%;
 }

 .cq .head {
     padding-left: 1em;
     text-align: left;
     font-size: 1.2em;
     height: 5%;
 }
 
 .cq .term:after {
     content:", ";
 }

 .cq .term:last-child:after {
     content:"";
 }

</style>
