<script>
 export let cq
 export let varTemplates = null
 export let comparatedCQ = null
 export let enabledInteraction = false

 import { onMount, afterUpdate } from 'svelte'
 import MappingUtils from './MappingUtils'
 import cytoscape from 'cytoscape'
 import dagre from 'cytoscape-dagre'
 cytoscape.use( dagre )

 let cy

 let name = cq.getName() + Math.floor(Math.random() * Math.floor(100000))
 
 const lightblue = "#aaaaaa"
 const blue = "#476db0"
 const red = "#d7404e"
 const classColor = "#b4e1a2"
 const graphStyle = [
     {
         selector: 'node',
         style: {
             "width": 20,
             "height": 20,
             "background-color": blue,
             "text-halign": "center",
             "text-valign": "top"
         }
     },
     {
         "selector": "edge[label]",
         "style": {
             "label": "data(label)",
         }
     },
     {
         selector: 'node[label]',
         style: {
             'label': 'data(label)'
         }
     },
     {
         selector: 'edge',
         style: {

             'width': 2,
             "edge-text-rotation":"autorotate",
             "text-outline-color": "#eeeeee",
             "text-outline-width": 2,
             "curve-style": "straight",
             'target-arrow-shape': 'triangle-backcurve',
             'line-color': lightblue,
             'target-arrow-color': lightblue,
             'text-background-opacity': 0
         }
     },
     {
         selector: ".dashed",
         style: {
             "curve-style": "unbundled-bezier",
             "line-style": "dashed",
             "line-color": red,
             "target-arrow-color": red,
             "line-dash-pattern": "6, 4"
         }
     },
     {
         selector: ".existential-var",
         style: {
             "background-color": lightblue
         }
     },
     {
         selector: ".literal",
         style: {
             "width": "label",
             "background-color": "white",
             "shape": "rectangle",
             "text-halign": "center",
             "text-valign": "center"
         }
     },
     {
         selector: ".type",
         style: {
             "width": "label",
             "background-color": classColor,
             "shape": "rectangle",
             "text-halign": "center",
             "text-valign": "center"
         }
     }
 ]

 function displayCQ(container) {
     let elts
     if (varTemplates && comparatedCQ) {
         elts = MappingUtils.getPatternsElements(cq.getPatterns(), varTemplates, comparatedCQ.getPatterns(), comparatedCQ.getHead())
     } else if (varTemplates) {
         elts = MappingUtils.getPatternsElements(cq.getPatterns(), varTemplates)
     } else {
         elts = MappingUtils.getQueryElements(cq.getPatterns(), cq.getHead())
     }

     cy = cytoscape({
         container: container,
         boxSelectionEnabled: false,
         autounselectify: true,
         style: graphStyle,
         elements: elts
     })
     const layoutConf = {
         name: 'dagre',
         rankDir: 'LR',
         rankSep: 130,
         edgeSep: 120,
         padding: 3
     }
     cy.userZoomingEnabled(false)

     cy.layout(layoutConf).run()
     enableInteraction(enabledInteraction)
 }

 function enableInteraction(enabled) {
     if (cy) {
         cy.userZoomingEnabled(enabled)
         if (enabled) {
             cy.nodes().grabify()
         } else {
             cy.nodes().ungrabify()
         }
     }
 }

 onMount(() => {
     const container = document.querySelector('#' + name)

     // lazy loading
     const interactSettings = {
         root: null,
         rootMargin: '0px 0px 200px 0px'
     }

     function onIntersection(imageEntites) {
         imageEntites.forEach(image => {
             if (image.isIntersecting) {
                 observer.unobserve(image.target)
                 displayCQ(container)
             }
         })
     }

     let observer = new IntersectionObserver(onIntersection, interactSettings)
     observer.observe(container)

     // resize
     function onResize(elts) {
         if (cy) {
             //             setTimeout(() => {
             cy.resize();
             cy.fit();
             //             }, 100)
         }
     }
     const ro = new ResizeObserver(onResize)
     ro.observe(container)
     //window.addEventListener('resize', handleResize, false)
     

 })
</script>

<div id="{name}" class="cy"></div>

<style>
 .cy {
     width: 100%;
     flex-grow:1;
 }

 .cq {
     width: fit-content;
     border: 1px black solid;
     margin: .25em;
 }
 
 .cq .head{
     padding-left: 1em;
     text-align: left;
 }
 
 .cq .term:after {
     content:", ";
 }

 .cq .term:last-child:after {
     content:"";
 }

</style>
