<script>
 export let obj
</script>

<table rules="groups" frame="hsides" cellspacing="0" cellpadding="6" border="2">
    <thead>
        <tr>
            {#each obj.meta.fields as field }
                <th scope="col">{field}</th>
            {/each}
        </tr>
    </thead>
    <tbody>
        {#each obj.data.slice(0, 100)  as d}
            <tr>
                {#each Object.keys(d) as key}
                    <td class="org-left">{d[key]}</td>
                {/each}
            </tr>
        {/each}
    </tbody>
</table>
