<script>
 export let datasource
 import Datasource from './Datasource'
</script>

<span class="datasource" style="color: {datasource.getColor()}">{datasource.getName()}</span>

<style>
 .datasource:before {
     content: "•";
 }
</style>
