<script>
 import { createEventDispatcher } from 'svelte'
 import RISUtils from './RISUtils'
 import RIS from './RIS'


 const promise = fetch('examples/index.json')
     .then(res => res.json())
     .then(risNames => {
         const risPromises = []
         for(let risName of risNames) {
             let url = RISUtils.getExampleRISURL(risName)
             let ris = new RIS(url)
             ris.path = 'ris/' + risName + '/index.html'
             risPromises.push(ris.load())
         }
         return Promise.all(risPromises)
     }).catch(console.log)

</script>

<h1>Obi-Wan demonstration</h1>

<div class="text">
    <p>List of RDF Integration Systems (RIS):</p>
    <ul class="ris-list">
        {#await promise then risList}
            {#each risList as ris}
                <li><h3><a href="{ris.path}">{ris.getName()}</a></h3>
                    {#if ris.getDescription()}
                        <p>{@html ris.getHTMLDescription()}</p>
                    {/if}
                </li>
            {/each}
        {/await}
    </ul>
</div>

<style>
 h1 {
     text-align: center;
 }


 .text{
     margin-left: 2em;
 }
 p {
     max-width: 50em;
 }
</style>
