<script>
 export let mappingIndex = {}
 export let comparatedMappings = {}
 export let detailed = false
 export let mappingName = null
 export let classPropFilter = []

 import { onMount, afterUpdate } from 'svelte'
 import Mapping from './Mapping.svelte'
 import MappingUtils from './MappingUtils'
 const labelOfValue = MappingUtils.labelOfValue

 
 $: mappingNumber = 10
 $: mappings = Object.values(mappingIndex).filter(m => !isFiltered(classPropFilter,m)).slice(0, mappingNumber)
 // mapping filter
 function handleMappingFilter(e) {
     classPropFilter = e.detail
     mappingNumber = 10000
 }

 function isFiltered(filter, mapping) {
     return filter.length !== 0 &&
            ! mapping.getHead().getPatterns().some(t => t.some(v => filter.includes(labelOfValue(v))))
 }

 // mapping displayed value
 function isDisplayed(filter, mapping) {
     const displayed = !isFiltered(filter, mapping) &&
                       !mappingName
     return displayed
 }

 //infinite mapping scroll
 const options = {
     root: document.getElementById('scrollArea'),
     rootMargin: '0px',
     threshold: 0.5,
 }
 const observer = new IntersectionObserver(handleIntersection, options)

 function handleIntersection(event) {
     mappingNumber += 10
     mappings = Object.values(mappingIndex).slice(0, mappingNumber)
 }

 afterUpdate(() => {
     observer.observe(document.querySelector('#mapping-footer'))
 })
</script>

<div class="mapping-list {(detailed) ? 'detailed' : ''} {(mappingName) ? 'hidden' : ''}">
    {#each mappings as mapping (mapping.getName())}
        <Mapping mapping={mapping}
                         originalMapping={comparatedMappings[mapping.getName()]}
                 displayed={isDisplayed(classPropFilter, mapping)}
                         detail={detailed} />
    {/each}

    <span id="mapping-footer"></span>
</div>
{#if mappingName}
    <div class="mapping-list">
        <Mapping mapping={mappingIndex[mappingName]}
                         originalMapping={comparatedMappings[mappingName]}
                 displayed={true}
                         detail={true} />
    </div>
{/if}
<style>
 .hidden {
     display: none !important;
 }
 .detailed.mapping-list {
     flex-wrap: nowrap;
 }

 .mapping-list {
     display: flex;
     height: 100%;
     width: 100%;
     align-items: flex-start;
     flex-wrap: wrap;
 }

</style>
