<script>
 export let mapping
 export let originalMapping
 export let detail
 export let displayed

 import { onMount, afterUpdate } from 'svelte'
 import CQViz from './CQViz.svelte'
 import MappingUtils from './MappingUtils'
 import Datasource from './Datasource'
 import hljs from 'highlight.js'
 import sqlFormatter from 'sql-formatter'
 import cytoscape from 'cytoscape'
 import dagre from 'cytoscape-dagre'
 cytoscape.use( dagre )
 let cy
 let name = mapping.getName() + Math.floor(Math.random() * Math.floor(100000))

 const datasource = mapping.getDatasource()

 afterUpdate(() => {
     // body
     // import sqlFormatter from "sql-formatter";
     for (let body of document.querySelectorAll('#'+ name +' .body pre code')) {
         if (mapping.getDatasource().getType().includes("POSTGRES")) {
             body.innerText = sqlFormatter.format(body.innerText)
         }
         hljs.highlightBlock(body)
     }

     // skolem
     const skolemBlock = document.querySelector('#'+ name +' .skolem pre code')
     if (skolemBlock) {
         hljs.highlightBlock(skolemBlock)
     }
 })

 $: detail
</script>

<div class="mapping {detail ? 'detail' : ''} {displayed ? '' : 'hidden'}"
     id="{name}"
     style="border-color: {datasource.getColor()}">
    {#if detail}
    <div class="datasource part {detail ? '' : 'hidden'}"
         style="background-color: {datasource.getColor()}">
        <h3>{datasource.getName()}</h3>
    </div>
    
    <div class="body part {detail ? '' : 'hidden'}">
        {#if datasource.getType() === 'MONGODB'}
            <pre><code class="json">{JSON.stringify(mapping.getBody(), null, 2)}</code></pre>
        {:else}
            <pre><code class="sql">{mapping.getBody()}</code></pre>
        {/if}
    </div>

    <div class="skolem part {detail ? '' : 'hidden'}">
        {#if mapping.getTemplates()}
            <pre><code class="json">{mapping.getTemplatesString()}</code></pre>
        {/if}
    </div>
    {/if}

    <div class="head part" id="head-{mapping.getName()}" >
        <a href="#{mapping.getName()}" title="see mapping details">
            {#if originalMapping}
                <CQViz cq="{mapping.getHead()}"
                       varTemplates="{mapping.getTemplates()}"
                       comparatedCQ="{originalMapping.getHead()}" />
            {:else}
                <CQViz cq="{mapping.getHead()}"
                       varTemplates="{mapping.getTemplates()}" />
            {/if}
        </a>
    </div>

    <nav class="{detail ? '' : 'hidden'}">
        <span class="commands">
            <a href="#" class="close" title="close mapping details">x</a>
        </span>

        <h3>
            {mapping.getName()}
        </h3>
    </nav>
    <h3 class="{!detail ? '' : 'hidden'} small-name">{mapping.getName()}</h3>
</div>

<style>

 pre {
     margin:0;
 }
 .skolem, .body {
     font-size: 1.4em;
     border: 1px solid black;
 }
 
 .hidden {
     display: none !important;
 }

 .detail.mapping {
     border: none;
     height: 100%;
     margin: 0;
 }
 
 .mapping {
     display: flex;
     border: 5px solid black;
     width: 25em;
     max-height: 100%;
     margin: .5em;
     position: relative;
     align-items: stretch;
     flex-direction: column-reverse;
     flex-shrink: 0;
     flex-grow: 1;
     justify-content: space-between;
 }

 .small-name {
     position: absolute;
     bottom: 0;
     margin: 1em;
     padding: 0;
 }

 .mapping:hover .commands {
     opacity: 1;
 }

 .mapping .head {
     display: flex;
     flex-basis: 25em;
     flex-grow: 1;
     border: 1px solid black;
     align-items: stretch;
 }

 .mapping .head a {
     display: flex;
     width: 100%;
     flex-grow: 1;
     align-items: stretch;
 }

 .mapping .datasource {
     text-align: center;
     flex-basis: 3em;
     flex-shrink: 0;
 }

 nav {
     margin-bottom: .5em;
 }
 
 nav h3 {
     display: inline;
 }
 
 .close {
     background-color: red;
     color: white;
     padding: .25em .5em;
     position: relative;
     text-decoration: none;
     text-transform: uppercase;
 }

</style>
