<script>
 export let url

 import { createEventDispatcher } from 'svelte';
 import MappingUtils from './MappingUtils'
 import cytoscape from 'cytoscape'
 import dagre from 'cytoscape-dagre'
 cytoscape.use( dagre )

 const selector = '#ontology .graph'
 let cy

 const lightblue = "#aaaaaa"
 const blue = "#476db0"
 const red = "#d7404e"
 const classColor = "#b4e1a2"
 const graphStyle = [
     {
         selector: 'node',
         style: {
             "width": 20,
             "height": 20,
             "background-color": blue,
             "text-halign": "right",
             "text-valign": "center"
         }
     },
     {
         "selector": "edge[label]",
         "style": {
             "label": "data(label)",
         }
     },
     {
         selector: 'node[label]',
         style: {
             'label': 'data(label)'
         }
     },
     {
         selector: 'edge',
         style: {

             'width': 2,
             "edge-text-rotation":"autorotate",
             "text-outline-color": "#eeeeee",
             "text-outline-width": 2,
             "curve-style": "straight",
             'target-arrow-shape': 'triangle-backcurve',
             'line-color': lightblue,
             'target-arrow-color': lightblue
         }
     },
     {
         selector: ".existential-var",
         style: {
             "background-color": red
         }
     },
     {
         selector: ".literal",
         style: {
             "width": "label",
             "background-color": "white",
             "shape": "rectangle",
             "text-halign": "center",
             "text-valign": "center"
         }
     },
     {
         selector: ".type",
         style: {
             "width": "label",
             "background-color": classColor,
             "shape": "rectangle",
             "text-halign": "center",
             "text-valign": "center"
         }
     },
     {
         selector: ".results",
         style: {
             "border-color": "red",
             "border-width": "3rem",
             "border-style": "solid"
         }
     },
     {
         selector: ":selected",
         style: {
             "background-color": "red",
         }
     }
 ]

 const promise = fetch(url)
     .then(res => res.text())
     .then(text => text.split(' .'))
     .then(triples => {
         return triples
             .map(t => t.trim().split(' '))
             .filter(t => t.length === 3)
     })
     .then(triples => {
         const elements = MappingUtils.getPatternsElements(triples)
         cy = cytoscape({
             container: document.querySelector(selector),
             boxSelectionEnabled: false,
             autounselectify: true,
             style: graphStyle,
             elements: elements,
             wheelSensitivity: .1
         })
         const layoutConf = {
             name: 'dagre',
             rankDir: 'RL',
             rankSep: 170,
             edgeSep: 120
         }

         cy.autounselectify(false)
         cy.boxSelectionEnabled(true)
         cy.layout(layoutConf).run()

         cy.on('select',() => {
             handleFilter(cy.$(':selected').toArray().map(el => el.data('label')))
         })

         cy.on('unselect', () => {
             handleFilter(cy.$(':selected').toArray().map(el => el.data('label')))
         })
     })

 // search
 function search(word) {
     if (cy) {
         // remove old results
         cy.filter('.results').removeClass('results')

         const capWord = word.charAt(0).toUpperCase() + word.slice(1)
         const results = (word) ? cy.nodes().filter("[label *= '"+word+"']").union("[label *= '"+capWord+"']") : cy.nodes().filter(()=> false)
         results.addClass('results')
         const neighbors = results.neighborhood()
         const selection = results.merge(neighbors)

         cy.fit( selection, 100)
     }
 }

 function handleSearch(e) {
     e.preventDefault()
     search(document.querySelector('#onto-search').value)
 }

 // class and property filter
 const dispatch = createEventDispatcher()
 let tmpFilter = []
 function arraysEqual(a, b) {
     if (a === b) return true;
     if (a == null || b == null) return false;
     if (a.length != b.length) return false;

     for (var i = 0; i < a.length; ++i) {
         if (a[i] !== b[i]) return false;
     }
     return true;
 }

 function handleFilter(classPropFilter) {
     if (!arraysEqual(tmpFilter, classPropFilter)) {
         tmpFilter = classPropFilter
         dispatch('classPropFilter', classPropFilter)
     }
 }

 function handleResize() {
     // if the mapping head graph is mounted
     if (cy) {
         const child = document.querySelector(selector)
         setTimeout(() => {
             cy.resize();
             cy.fit();
         }, 100)
     }
 }

 window.addEventListener('resize', handleResize, false)

</script>

<div id="ontology">
    {#await promise}
        <p>loading ...</p>
    {:then ris}
        <div class="commands">
            <form on:submit={handleSearch}>
                <input type="text" id="onto-search" placeholder="search" />
            </form>
        </div>
    {/await}
    <div class="graph"></div>
</div>

<style>
 #ontology {
     height: 100%;
     position: relative;
 }
 .graph {
     height: 95%;
 }
</style>
