<script>
 export let params

 import dotparser from 'dotparser'
 import { onMount } from 'svelte'
 import RISUtils from './RISUtils'
 import RIS from './RIS'
 import Mapping from './Mapping.svelte'
 import MappingUtils from './MappingUtils'
 import Query from './Query'
 import Session from './Session'
 import PlanViz from './PlanViz'
 import CQ from './CQ.svelte'
 import CSVTable from './CSVTable.svelte'
 import SQLQuery from './SQLQuery.svelte'

 
 const risName = params.name
 const sessionName = params.session
 const queryName = params.query
 const risURL = params.originalRisURL
 let ris = new RIS(risURL)
 const sessionURL = RISUtils.getSessionURL(risName, sessionName, queryName)
 const session = new Session(sessionURL, sessionName)
 const queryURL = RISUtils.getQueryURL(risName, sessionName, queryName)
 const query = new Query(queryURL, queryName)

 const risArray = [ris]
 let originalRis = null
 if (session.hasRISTransformation()) {
     const transformedRisURL = RISUtils.getTransformatedRISURL(risName, sessionName, session.getTransformatedRISName())
     console.log(transformedRisURL)
     const transformatedRis = new RIS(transformedRisURL)
     originalRis = ris
     ris = transformatedRis
     risArray.push(transformatedRis)
 }
 
 const rewPromise = (session.isREWQAApproach()) ? Promise.all(risArray.map(ris => ris.load())).then(() => {
     return fetch(query.getRewritingsURL()).then(res => res.text()).then(text => formatRews(text))
 }) : Promise.resolve()

 const reformulationsPromise = fetch(query.getReformulationsURL())
     .then(res => res.text())
     .then(text => text.split(';').filter(t => t.trim() != ''))

 function formatRews(text) {
     console.log(text)
     let formatedText = text.replace(new RegExp(': \\[', 'g'), ' <-- ')
                            .replace(new RegExp('\\]','g'), '')
                            .replace(/\\\d+/g, '')
                            .replace(/\$/g, '')
                            .replace(/,/g, ', ')
     
     const exVarPattern = /X\d+/g
     if (formatedText.match(exVarPattern)) {
         let i = 0
         for(let exVar of formatedText.match(exVarPattern)) {
             formatedText = formatedText.replace(new RegExp(exVar, 'g'), 'X'+ (i++))
         }
     }
     const formatedRews = formatedText.split('\n').filter(rew => rew.trim() != '')
     console.log(formatedRews)
     return formatedRews
 }

 if (session.isREWQAApproach()) {
     onMount(() => {
         PlanViz.createFromURL(query.getOriginalPlanDotURL(), document.querySelector('#original-plan'))
         PlanViz.createFromURL(query.getOptimizedPlanDotURL(), document.querySelector('#optimized-plan'))
         PlanViz.createFromURL(query.getEvaluatedPlanDotURL(), document.querySelector('#evaluated-plan'))
     })
 }

 const MAPPING_PATTERN = /V_([\w-]+)\(/g

 function getViewMappings(rew) {
     const mappingNames = Array.from(rew.matchAll(MAPPING_PATTERN)).map(r => r.slice(1)[0])
     return mappingNames
 }
 
 function toggleViewMappings(e) {
     const rewId = e.target.dataset.id
     const rewMappingsClasses = document.querySelector('#' + rewId + ' .rew-mappings').classList
     if (rewMappingsClasses.contains('folded')) {
         rewMappingsClasses.remove('folded')
     } else {
         rewMappingsClasses.add('folded')
     }
     
 }
</script>

<header class="item-list">
    <span class="item"><a href="../../index.html" type="button" value="x">Go back to the session</a></span>
</header>

<h1>Query {query.getName()}</h1>

<div class="query">
    <CQ url="{query.getQueryURL()}" name="{query.getName()}" />
</div>
<div class="panels">

    {#if session.hasReformulations()}
        <div class="panel">
            {#await reformulationsPromise then reformulations}
                <h2>{reformulations.length} reformulations of {query.getName()}</h2>

                <div class="reformulations">
                    {#each reformulations as ref, i}
                        <div class="ref">
                            <CQ string="{ref}" name="ref{i}" />
                        </div>
                    {/each}

                </div>
            {/await}
        </div>
    {/if}
    <div class="panel">
        {#if session.isMATQAApproach()}
            <h2>SQL translation used by the triple store <a href="http://ontosql.inria.fr/">OntoSQL</a></h2>
            {#await fetch(query.getSQLTranslationURL()).then(res => res.text()) then sqlTranslation}
                <SQLQuery sql={sqlTranslation} />
            {/await}
        {/if}
        {#if session.isREWQAApproach()}
            {#await Promise.all(risArray.map(ris => ris.load())).then(() => {
                return fetch(query.getRewritingsURL()).then(res => res.text()).then(text => formatRews(text))
            }) then rews}
                <h2>{rews.length} rewritings of {query.getName()}</h2>
                <ol class="rews">
                    {#each rews as r, index}
                        <li class="rew" id="rew{index}">
                            {r}
                            <br/>
                            <a on:click={toggleViewMappings} data-id="rew{index}">show/hide mappings</a>
                            <div class="rew-mappings folded">
                                {#each getViewMappings(r) as mappingName}
                                    <Mapping mapping={ris.getMapping(mappingName)}
                                                     originalMapping={(originalRis) ? originalRis.getMapping(mappingName): null}
                                             displayed={true}
                                                     detail={false} />
                                {/each}
                            </div>
                        </li>
                    {/each}
                </ol>
            {/await}
        {/if}
    </div>
</div>


{#if session.isREWQAApproach()}
    <h2>Original Plan</h2>

    <!-- <a href="{query.getOriginalPlanPngURL()}"> -->
    <div id="original-plan" class="cy"></div>
    <!-- </a> -->

    <h2>Optimized Plan</h2>

    <!-- <a href="{query.getOptimizedPlanPngURL()}"> -->
    <div id="optimized-plan" class="cy"></div>
    <!-- </a> -->

    <h2>Evaluated Plan</h2>

    <!-- <a href="{query.getEvaluatedPlanPngURL()}"> -->
    <div id="evaluated-plan" class="cy"></div>
    <!-- </a> -->
{/if}

<h2>Answers</h2>

{#await query.getAnswersObject() then obj}
    <CSVTable obj="{obj}" />
{/await}

<style>
 .query {
     height: 30em;
     max-width: 80em;
     margin: auto;
 }

 .reformulations {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 .reformulations:nth-child(1) {
     justify-content: space-between;
 }

 .reformulations .ref {
     width: 35em;
     height: 20em;
     margin: .25em;
 }

 .rew {
     font-size: 1.2em;
     padding: .1em;
 }

 .cy {
     height: 80vh;
 }

 .rew-mappings.folded {
     display: none;
 }
 .rew-mappings {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     overflow: auto;
 }

 .panels {
     display: flex;
     width: 100%;
 }

 .panel {
     width: 50%;
 }

 .panel h2 {
     padding: 0 .5em;
 }
 
 .panels .panel:nth-child(2) {
     border-left: 1px solid black;
 }
</style>
