<script>
 export let params

 import { onMount, afterUpdate } from 'svelte'
 import RISUtils from './RISUtils'
 import Ontology from './Ontology.svelte'
 import Mapping from './Mapping.svelte'
 import MappingList from './MappingList.svelte'
 import RIS from './RIS'
 import Datasource from './Datasource.svelte'

 const name = params.name
 const transformedRisURL = params.transformedRisURL
 const originalRisURL = params.originalRisURL
 const risURL = transformedRisURL || originalRisURL
 const originalRisPromise = (transformedRisURL) ?  new RIS(originalRisURL).load() : Promise.resolve()
 const risPromise = new RIS(risURL).load()
 const risPromises = Promise.all([originalRisPromise, risPromise])

 let mappingNumber = 10
 let mappingName
 let classPropFilter = []
 
 function handleMappingFilter(e) {
     classPropFilter = e.detail
 }
 
 // mapping details
 let detailMapping = false

 // anchor handling
 function handleAnchor() {
     //     const container = document.querySelector('.mappings')
     const anchor = window.location.hash
     if (anchor.startsWith('#')) {
         mappingName = anchor.substring(1)
     } else if (anchor === '') {
         mappingName = undefined
     }
 }

 function removeAnchor() {
     window.location.hash = ''
 }

 window.addEventListener('hashchange', (e) => handleAnchor())
 onMount(handleAnchor)

</script>

{#await risPromises}
    <p>loading ...</p>
{:then ris}
    <header class="item-list">
        <span class="item"><a href="{(ris[0])? '../index.html' : '../../index.html'}"><input type="button" value="x"/></a> {ris[1].name}</span>
        <!-- <span class="item">{ris[1].getMappingNumber()} mappings</span> -->
        <span class="item"><input id="detail-toggle"
                                  type="checkbox"
                                  bind:checked={detailMapping}
                                      checked="{detailMapping ? 'checked': ''}" />
            <label for="detail-toggle">Mapping detail</label>
        </span>
        {#if !ris[0]}
            {#if !ONLINE}
                <span class="item"><a href="./sessions/index.html" class="button">sessions</a></span>
            {/if}
            <span class="item"><a href="./experiment/index.html" class="button">see experiments</a></span>
        {/if}
    </header>
    <div class="ris">
        <div class="ontology">
            <h2>Ontology</h2>
            <Ontology
                url={ris[1].getOntologyURL()}
                    on:classPropFilter={handleMappingFilter} />
        </div>
        <div class="mappings {(detailMapping || mappingName) ? 'detail-mappings' : ''}">
            <nav>
                {#if classPropFilter.length == 0}
                    <h2 class="title">{ris[1].getMappingNumber()} Mappings</h2>
                {:else}
                    <h2 class="title">Mappings generating {classPropFilter.join(', ')}</h2>
                {/if}
                <ul class="datasources">
                    {#each ris[1].getDatasources() as datasource}
                        <li><Datasource datasource={datasource}/></li>
                    {/each}
                </ul>
            </nav>
            <div class="mappings-area">
                <MappingList mappingIndex="{ris[1].getMappingIndex()}"
                             comparatedMappings="{(ris[0]) ? ris[0].getMappingIndex() : {}}"
                             detailed="{detailMapping}"
                             mappingName="{mappingName}"
                             classPropFilter="{classPropFilter}" />
            </div>
        </div>
    </div>
{/await}

<style>
 body {
     padding: 0;
 }
 
 header {
     height: 5%;
 }

 header label {
     display: inline;
 }
 
 .ris {
     display: flex;
     height: 95%;
 }
 
 .item-list .item {
     padding-left: .2em;
     border-left: 1px black solid;
 }

 .item-list .item:first-child {
     border-left: none;
 }

 .ontology h2, .mappings h2 {
     margin-top: .1em;
 }
 
 .ontology {
     width: 40%;
     height: 100%;
     overflow: hidden;
 }

 .mappings {
     width: 60%;
     height: 100%;
     display: flex;
     flex-flow: column;
     padding-left: .5em;
     border-left: 1px solid black;
 }

 .mappings nav {
     flex-grow: 0;
 }

 .mappings .mappings-area {
     overflow: auto;
     flex-shrink: 1;
     flex-grow: 1;
 }

 .detail-mappings nav {
     display: none;
 }

 .datasources {
     padding:0;
     display: flex;
     list-style-type: none;
     flex-wrap: wrap;
 }
</style>
