<script>
 export let params

 import { onMount } from 'svelte'
 import RISUtils from './RISUtils'
 const risName = params.name
 const sessionURL = RISUtils.getSessionIndexURL(risName)
 
 // const risPromise = fetch(risURL).then(res => res.json())

 const promise = fetch(sessionURL)
     .then(res => res.json())

</script>

<header class="item-list">
    <span class="item"><a href="../index.html" type="button" value="x">Go back to {risName} RIS</a></span>
</header>

<h1> Sessions on {risName} RIS</h1>
<ul class="ris-list">
    {#await promise then list}
        {#each list as session}
            <li><a href="./{session.path}/index.html" >{session.name}</a></li>
        {/each}
    {/await}
</ul>

<style>
</style>
