<script>
 export let params

 import { onMount } from 'svelte'
 import Session from './Session'
 import RISUtils from './RISUtils'
 import CSVTable from './CSVTable.svelte'
 import CQ from './CQ'
 import Query from './Query'
 import CQViz from './CQViz.svelte'

 const risName = params.name
 const sessionName = params.session
 const sessionURL = RISUtils.getSessionURL(risName, sessionName)

 const sessionPromise = Session.create(sessionURL, sessionName)

 const INPUT_FIELD = 'INPUT'
 
</script>

<header class="item-list">
    {#if ONLINE}
        <span class="item"><a href="../../experiment/index.html" type="button" value="x">Go back to experiments</a></span>
    {:else}
        <span class="item"><a href="../index.html" type="button" value="x">Go back to {risName} sessions index</a></span>
    {/if}
</header>
{#await sessionPromise then session}

    <h1>Session on {risName} RIS using the {session.getQAStrategyName()} query answering strategy</h1>

    <p>Query answering strategy {session.getQAStrategyDescription()}</p>


    <h2>Preprocessing step</h2>
    {#if session.hasRISTransformation() && !session.isMATQAApproach()}
        <p>
            {session.getRISTransformationDescription()}<br/>
            <a href="{session.getTransformatedRISName()}/index.html" class="button">See resulting RDF Integration System</a>
        </p>
    {:else}
        <p>There is <strong>no</strong> preprocessing step.</p>
    {/if}


    <h2>Queries</h2>
    <!-- <ul class="ris-list">
         {#each session.getQueries() as query}
         <li><a href="queries/{query}/" >{query}</a></li>
         {/each}
         </ul>
    -->

    <table rules="groups" frame="hsides" cellspacing="0" cellpadding="6" border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Visualization</th>
                {#if session.hasReformulations()}
                    <th>Number of <br/>reformulations</th>
                {/if}
                {#if session.isREWQAApproach()}
                    <th>Number of <br/>rewritings</th>
                {/if}
                <th>Number of <br/>answers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {#each session.getQueries() as query, index}
                <!-- <td>                {session.getQAStats().data[index][INPUT_FIELD] + ' '+ query}</td> -->
                    {#if session.getQAStats().data[index][INPUT_FIELD] === query}
                    <tr class="query-link">
                       <td>{query}</td>
                        <td>
                            {#await CQ.createFromURL(new Query(RISUtils.getQueryURL(risName, sessionName, query), query).getQueryURL()) then cq}
                                <div class="cq">
                                    <div class="head">
                                        ({#each cq.getHead() as term}<span class="term">{term}</span>{/each}) &lt;--
                                    </div>
                                    <div class="viz">
                                        <CQViz cq="{cq}"/>
                                    </div>
                                </div>
                            {/await}
                        </td>
                        {#if session.hasReformulations()}
                            <td>
                                {session.getQAStats().data[index].N_REF}
                            </td>
                        {/if}
                        {#if session.isREWQAApproach()}
                            <td>
                                {session.getQAStats().data[index].N_REW}
                            </td>
                        {/if}
                        <td>
                            {session.getQAStats().data[index].N_ANS}
                        </td>
                        <td>
                            <a href="queries/{query}/index.html" class="button">see answering details</a>
                        </td>
                    </tr>
                {/if}
            {/each}
        </tbody>
    </table>


    <!-- <h2>Statistics</h2>


         <CSVTable obj="{session.getQAStats()}" />
    -->
{/await}

<style>
 .cq .viz {
     display: flex;
     width: 20em;
     height: 20em;
 }

 .cq {
     width: fit-content;
     border: 1px black solid;
     margin: .25em;
 }
 
 .cq .head{
     padding-left: 1em;
     text-align: left;
 }
 
 .cq .term:after {
     content:", ";
 }

 .cq .term:last-child:after {
     content:"";
 }

 /* .query-link {
    transition: background 1s;
    }

    .query-link:hover{
    background: grey;
    } */
</style>
