<script>
 export let sql

 import { onMount, afterUpdate } from 'svelte'
 import hljs from 'highlight.js'
 import sqlFormatter from 'sql-formatter'

 const MAX_LENGTH = 50000
 let shortSql = (sql.length > MAX_LENGTH) ? sql.substring(0,MAX_LENGTH) + '\n ...' : sql
 
 let sqlElt
 
 onMount(() => {
     sqlElt.innerText = sqlFormatter.format(sqlElt.innerText)
     hljs.highlightBlock(sqlElt)
 })

</script>

<pre><code class="sql" bind:this={sqlElt}>{shortSql}</code></pre>

<style>
</style>
