html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0,100,200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0,80,160);
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.button {
    text-decoration: none;
    background-color: blue;
    background-color: #269CE9;
    border: 1px solid #269CE9;
    color: #fff;
    padding: 12px 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    padding: 2px 6px 2px 6px;
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    border-radius: 3px;
    /* text-shadow: 0 1px 0 rgba(255,255,255, .9); */
}

.button:hover{
    background-color: #70B9E8;
}

.button:visited{
    color: #fff;
}
